/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-button/b-button.interface.styl"

$bFile = ()
declare($bFile, b-file)

if file-exists("b-file_*.styl")
	@import "b-file_*.styl"

b-file($p)
	$p = assign({}, $p)

	+cache()
		extends($bButton)

		&__file
			display none
