/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-nav-list/b-nav-list.interface.styl"

$bHeaderNav = ()
declare($bHeaderNav, b-header-nav)

if file-exists("b-header-nav_*.styl")
	@import "b-header-nav_*.styl"

b-header-nav($p)
	$p = assign({}, $p)

	+cache()
		extends($bNavList)
