/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"

$bGroup = ()
declare($bGroup, b-group)

if file-exists("b-group_*.styl")
	@import "b-group_*.styl"

b-group($p)
	$p = assign({
		color: #A9A9A9
	}, $p)

	$color = $p.color
	$backgroundColor = darken(invert($color), 60%)
	extends($iData)

	padding 0.5em
	background $backgroundColor
	color $color

	&__title
		display flex
		align-items top

	&__title-text
		margin-right 0.3em

	&__toggle
		cursor pointer

		&:hover
			color lighten($color, 50%)

	&__content
		margin-top 0.3em

	&_opened_false &__content
		display none
