/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"

$bTitle = ()
declare($bTitle, b-title)

if file-exists("b-title_*.styl")
	@import "b-title_*.styl"

b-title($p)
	$p = assign({
		width: 60%,
		color: #FFF
	}, $p)

	$width = $p.width
	$color = $p.color

	+cache()
		extends($iData)

		&__root-wrapper
			padding 0.8em 0.6em

		&__head
			display flex
			justify-content space-between
			margin-bottom 0.4em

		&__title
			color $color
			text-shadow 1px 1px invert($color)
			font-weight normal

		&__desc
			color darken($color, 50%)
			font-size 0.6em
