/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "b-pseudo-link.interface.styl"

.b-pseudo-link
	extends($bPseudoLink)
