/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "../b-link/b-link.interface.styl"

$bPseudoLink = ()
declare($bPseudoLink, b-pseudo-link)

if file-exists("b-pseudo-link_*.styl")
	@import "b-pseudo-link_*.styl"

b-pseudo-link($p)
	$p = assign({}, $p)
	extends($bLink)

	&__link,
	&__pseudo-link
		border-bottom-style dotted
