/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-block/i-block.interface.styl"

$bBackground = ()
declare($bBackground, b-background)

if file-exists("b-background_*.styl")
	@import "b-background_*.styl"

b-background()
	+cache($params = {})
		extends($iBlock, $params)

		&_theme_dark
			height 100%
			background fixed #1B1B1B center top no-repeat
			color #A9A9A9
			font-family Arial, Helvetica, sans-serif
