/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "../i-block/i-block.interface.styl"

$bBackground = ()
declare($bBackground, b-background)

if file-exists("b-background_*.styl")
	@import "b-background_*.styl"

b-background($p)
	$p = assign({}, $p)
	extends($iBlock)
