/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-block/i-block.interface.styl"

$bBackground = ()
declare($bBackground, b-background)

if file-exists("b-background_*.styl")
	@import "b-background_*.styl"

b-background($p)
	$p = assign({}, $p)

	+cache()
		extends($iBlock)
