/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bSelect,
	b-select_theme_dark-form
)

b-select_theme_dark-form($p)
	$p = assign({
		theme: _theme_dark-form
	}, $p)

	b-input_theme_dark($p)
