/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "../b-input/b-input.interface.styl"

$bInputSearch = ()
declare($bInputSearch, b-input-search)

if file-exists("b-input-search_*.styl")
	@import "b-input-search_*.styl"

b-input-search($p)
	$p = assign({}, $p)
	extends($bInput)
	transition width 0.3s

	&__wrapper
		margin 0.05em 0.4em 0.05em 0

	&_focused_true,
	&_empty_false
		width 20em

	&_focused_true &__search
		display none
