/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

declare(
	$bInputSearch,
	b-input-search_theme_dark-form
)

b-input-search_theme_dark-form($p)
	$p = assign({
		theme: _theme_dark-form
	}, $p)
