/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"
@import "../b-progress-icon/b-progress-icon.interface.styl"

$bStatus = ()
declare($bStatus, b-status)

if file-exists("b-status_*.styl")
	@import "b-status_*.styl"

b-status($p)
	$p = assign({
		msgColor: #ED9F15
	}, $p)

	$msgColor = $p.msgColor

	+cache()
		extends($iData)
		display inline-block

		&_progress_true
			opacity 1

		&__view
			display flex
			align-items center
			padding 0.2em
			color $msgColor

		&__msg
			border-bottom 1px dotted transparent
			font-size 0.9em

			&_own_true
				cursor pointer

		&_progress_true &__view
			color grayscale($msgColor)

		&__view:hover &__msg_own_true
			border-bottom-color currentColor

		&__controls
			display none
			margin-left 0.5em

		&__view:hover &__controls,
		&_progress_true &__controls
			display flex

		&_progress_true &__control
			display none

		&_progress_true &__progress
			display block

		&__progress > .b-progress-icon
			b-progress-icon({color: grayscale($msgColor)})

		&__control
			margin-right 0.5em
			color #555
			cursor pointer

			&:hover
				color $msgColor

		&__edit
			padding 0.3em
			width 30em
			border-radius 0.3em

		&__save
			margin-top 0.3em
