/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "nib/reset"

global-reset()
reset-html5()

html, body
	min-height 100%

html
	font-size 12.5px

	@media all and (min-width 1900px)
		font-size 14px

h1, h2, h3, h4, h5, h6
	margin 0
	padding 0.2rem
	font-weight bold

for n in 1..6
	h{n}
		font-size (2 - 0.2 * n)rem

p
	margin 0
	padding 0.4rem

a
	color #136796

	img
		border 0
