/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-input/b-input.interface.styl"

$bTextarea = ()
declare($bTextarea, b-textarea)

if file-exists("b-textarea_*.styl")
	@import "b-textarea_*.styl"

b-textarea($p)
	$p = assign({}, $p)

	+cache()
		extends($bInput)

		&__super-wrapper,
		&__root-wrapper
			background inherit

		&__super-wrapper
			padding 0.5em
			max-height 10em

		&__input
			display block
			overflow hidden
			width 100%
			outline 0
			border 0
			resize none

		&_collapsed_true &__input
			height 1.1em

		&_focused_true &__limit_hidden_false
			display block

		&__limit
			display none
			padding 0.3em
			font-size 0.7em

			&_warning_true
				color #F00
