/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-input/b-input.interface.styl"

$bTextarea = ()
declare($bTextarea, b-textarea)

if file-exists("b-textarea_*.styl")
	@import "b-textarea_*.styl"

b-textarea($p)
	$p = assign({}, $p)

	+cache()
		extends($bInput)

		&__super-wrapper
			padding 0.5em
			min-height inherit

		&__input
			display block
			width 100%

			overflow hidden
			resize none

			border none
			outline none

		&_collapsed_true &__input
			height 1.1em

		&__limit
			font-size 0.7em
			padding 0.2em

			&_hidden_true
				display none

			&_warning_true
				color #F00
