/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-message/i-message.interface.styl"

$iData = ()
declare($iData, i-data)

if file-exists("i-data_*.styl")
	@import "i-data_*.styl"

i-data($p)
	$p = assign({}, $p)

	+cache()
		extends($iMessage)
