/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "../i-message/i-message.interface.styl"

$iData = ()
declare($iData, i-data)

if file-exists("i-data_*.styl")
	@import "i-data_*.styl"

i-data($p)
	$p = assign({}, $p)
	extends($iMessage)
