/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-message/i-message.interface.styl"
@import "../b-progress-icon/b-progress-icon.interface.styl"

declare(
	$bInput,
	b-input_theme_light-form
)

b-input_theme_light-form($p)
	$p = assign({
		theme: _theme_light-form,
		color: #555,
		outlineColor: #DBDBDB
	}, $p)

	$theme = $p.theme
	$color = $p.color
	$backgroundColor = $p.backgroundColor || lighten(invert($color), 80%)
	$outlineColor = $p.outlineColor

	&{$theme}
		background $backgroundColor

	&{$theme} &__root-wrapper
		border-color darken($backgroundColor, 20%)

	&{$theme} &__super-wrapper
		border-width 1px

	&{$theme} &__input
		color $color
		text-shadow none

		&::placeholder
			color darken($color, 20%)

	&{$theme} &__icon
		color lighten($color, 15%)

	&{$theme} &__icon:hover:not(&__progress)
		color $color

	&{$theme}&_inverse-border_true &__root-wrapper
		border-color lighten($color, 20%)

	&{$theme}&_focused_true &__root-wrapper
		border-width 1px
		border-color $outlineColor
		background darken($backgroundColor, 25%)

	&{$theme}&_focused_true &__super-wrapper
		border-color lighten($color, 40%)

	&{$theme}&_focused_true &__input
		color $backgroundColor
		text-shadow 1px 1px lighten($color, 35%)

		&::placeholder
			color darken(@color, 5%)

	&{$theme} &__error,
	&{$theme} &__info
		right -6px

	&{$theme}&_disabled_true &__input,
	&{$theme}&_disabled_true &__icon
		color darken($color, 10%)

	&{$theme}&
		i-message({borderColor: $color})

	&{$theme} .b-progress-icon
		b-progress-icon({color: lighten($color, 15%)})
