/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bInput,
	b-input_theme_light-form
)

b-input_theme_light-form($params = {})
	$theme = _theme_light-form
	$color = $params.color || #555
	$outlineColor = $params.outlineColor || #688A91

	+cache()
		$backgroundColor = lighten(invert($color), 30%)

		&{$theme}
			border 1px solid darken($backgroundColor, 5%)
			background $backgroundColor

		&{$theme} &__super-wrapper
			border-width 1px

		&{$theme} &__input
			color $color
			text-shadow none

			&::placeholder
				color darken($color, 20%)

		&{$theme} &__icon
			color lighten($color, 20%)

		&{$theme} &__icon:hover:not(&__progress)
			color $color

		&{$theme}&_inverse-border_true
			border-color #CCC

		&{$theme}&_focused_true
			border-color #DBDBDB
			background #999

		&{$theme}&_focused_true &__super-wrapper
			border-color #777

		&{$theme}&_focused_true &__input
			color #FFF
			text-shadow 1px 1px #767676

			&::placeholder
				color darken(@color, 5%)

		&{$theme} &__error,
		&{$theme} &__info
			right -6px

		&{$theme}&_disabled_true &__input,
		&{$theme}&_disabled_true &__icon
			color #444

		&{$theme}&
			i-message({borderColor: #999})
