/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bInput,
	b-input_theme_dark-form
)

b-input_theme_dark-form($p)
	$p = assign({
		theme: _theme_dark-form,
		outlineColor: #FFB43F
	}, $p)

	$theme = $p.theme
	$outlineColor = $p.outlineColor

	b-input_theme_dark($p)

	&{$theme}&_focused_true &__root-wrapper
		border-width 1px
		border-color $outlineColor
