/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bInput,
	b-input_theme_dark
)

b-input_theme_dark($p)
	$p = assign({
		theme: _theme_dark,
		color: #BFBFBF,
		outlineColor: #FF9326,
		validColor: #00748C
	}, $p)

	$theme = $p.theme
	$color = $p.color
	$backgroundColor = $p.backgroundColor || invert($color)
	$outlineColor = $p.outlineColor
	$validColor = $p.validColor

	&{$theme}
		background $backgroundColor

	&{$theme} &__root-wrapper
		border 2px solid $backgroundColor

	&{$theme} &__super-wrapper
		border-width 1px

	&{$theme} &__input
		color $color
		text-shadow 1px 1px darken($backgroundColor, 10%)

		&::placeholder
			color darken(@color, 20%)

	&{$theme} &__icon
		color darken($color, 20%)

	&{$theme} &__icon:hover:not(&__progress)
		color darken($color, 10%)

	&{$theme}&_inverse-border_true &__root-wrapper
		border-color darken($color, 10%)

	&{$theme}&_focused_true &__root-wrapper
		border-width 1px
		border-color $outlineColor

	&{$theme}&_focused_true &__super-wrapper
		border-width 2px
		border-color darken($backgroundColor, 10%)

	&{$theme}&_valid_true
		box-shadow 3px 0 0 $validColor

	&{$theme} &__error,
	&{$theme} &__info
		top -0.2em
