/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-page/i-page.interface.styl"

$pMaster = ()
declare($pMaster, p-master)

if file-exists("p-master_*.styl")
	@import "p-master_*.styl"

@keyframes i-master-loader
	from
		z-index 0

	to
		z-index 1

p-master($p)
	$p = assign({}, $p)

	+cache()
		extends($iPage)
		animation i-master-loader 1s

		&__header
			position relative
			margin-top calc(0.5em \+ 3px)

		&__header-back
			padding 0.4em 0.6em
			border-radius 0.2em

		.b-header-nav
			position absolute
			right 1.2em
			bottom 1em

		.b-header-top-nav
			position absolute
			top -0.3em
			right 1em

		.b-exit
			position absolute
			right -1.4em

		.b-router
			position absolute
			top 0
			left 0
			width 100%
