/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-page/i-page.interface.styl"

$pAuth = ()
declare($pAuth, p-auth)

if file-exists("p-auth_*.styl")
	@import "p-auth_*.styl"

p-auth($params = {})
	+cache($params)
		extends($iPage, $params)

		&__header
			position relative
			margin-bottom 2rem

		&__top-logo
			margin-top 1rem
			width 22rem

		&__copyright
			padding 1rem
			color #7A7A7A
			font-size 0.7rem

		&__footer
			position relative
			margin-top 1rem

		&__wrapper
			display flex

		&__top-footer
			padding 1rem 0 2rem 0
			background linear-gradient(#D2D2D2, #BCBCBC, #CECECE)
			box-shadow 0.1rem 0.1rem 0.5rem #000

		.b-intro
			&__p
				padding 1.5rem
				border-bottom 1px solid #222
				font-size 1.1rem

				&:last-of-type
					border-bottom none

			&__link
				text-decoration none

			&__sub-title
				margin-bottom 1rem
				font-size 1rem

			&__wrapper
				padding 1rem
				padding-bottom 0.6rem

			&__greeting
				border-radius 0.5rem 0.5rem 0 0
				color #454545
				text-align center
				text-shadow 1px 1px darken(#FFF, 15%)

			&__sub-hello
				margin-top 0.4rem
				font-size 1.3rem

			&__description
				padding 1rem
				border-top 3px double #CCC
				background #151515
				box-shadow 0.1rem 0.1rem 0.5rem #000

			&__reg
				margin-top 0.6em

		.b-top-clans
			flex none
			margin -2rem 0 0 2%

			&__title
				font-variant small-caps
				font-size 0.8rem

			&__list
				display flex
				flex-direction column

			&__el
				margin 0.2rem 0 0.2rem 0

			&__link
				display block
				border 6px solid #282828
				border-radius 0.5rem

				&:hover
					border-color #CCC

			&__logo
				display block
				width 351px

			&__more
				text-align right

		.b-stat
			position absolute
			top -1rem
			left calc(80% \- 381px)

			border 1px solid #666
			border-top none

			background #FFF
			box-shadow 0.1rem 0.1rem 0.5rem rgba(#000, 0.2)

			&__active-users
				display inline-block
				padding 1em
				color #000

			&__users
				display inline-block
				padding 1em
				background #0B0A0A
				color #FFF

		.b-news
			text-shadow 1px 1px #DDD

			&__title
				color #454545
				font-size 1.8em

			&__news-title
				color #004150
				font-size 0.8em

			&__article
				display flex
				margin 0.5em 1em 0.5em 1em
				min-height 3em

			&__pic
				margin 0 0.5em
				align-self center

			&__img
				width 40px
				border 1px solid #000

			&__content
				color #111

		.b-last-video
			margin 3rem 0 0 6rem
			text-shadow 1px 1px #DDD

			&__more
				padding-left 1.2em
				font-weight bold

			&__video
				margin 0.5em 0 0 1em
				white-space nowrap

			&__title
				color #454545
				font-size 1.8em

			&__img
				margin-right 1em
				width 120px
				border 3px solid #FFF
				border-radius 0.5em
				vertical-align middle

		.b-reg-form
			&__table
				margin 2rem 11rem 0.5rem 9rem
				width 30rem

			&__row
				margin-top 0.2em
				width 100%

			&__cell
				display inline-block
				vertical-align middle

			&__label
				margin-right 0.2em
				width 35%
				text-align right
				font-size 0.9em
