/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-block/i-block.interface.styl"

$iDynamicPage = ()
declare($iDynamicPage, i-dynamic-page)

if file-exists("i-dynamic-page_*.styl")
	@import "i-dynamic-page_*.styl"

@keyframes i-dynamic-page-loader
	from
		z-index 0

	to
		z-index 1

i-dynamic-page($p)
	$p = assign({}, $p)

	+cache()
		extends($iBlock)
		animation i-dynamic-page-loader 1s

		&__cell
			$d = 1..20

			for $el in $d
				&-p{$el}
					width $el * 5%

			for $el in $d
				&-m{$el}
					margin-right 1em
					width $el * 5%
