/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-nav-list/b-nav-list.interface.styl"

$bTabs = ()
declare($bTabs, b-tabs)

if file-exists("b-tabs_*.styl")
	@import "b-tabs_*.styl"

b-tabs($p)
	$p = assign({
		color: #333,
		activeColor: #F0A31B
	}, $p)

	$color = $p.color
	$activeColor = $p.activeColor

	+cache()
		extends($bNavList)

		&__content
			padding 1em 0.6em

		&__el + &__el
			margin-left 0.2em

		&__link
			padding 0.3em 0.7em
			border-radius 0.2em
			background-color $color
			text-decoration none
			color invert($color)
			text-shadow 1px 1px darken($color, 10%)
			font-size 0.9em

			&:hover
				background-color lighten(@background-color, 10%)

			&_active_true
				background-color $activeColor
				color darken(grayscale($activeColor), 80%)
				text-shadow none

				&:hover
					background-color @background-color
