/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-nav-list/b-nav-list.interface.styl"

$bTabs = ()
declare($bTabs, b-tabs)

if file-exists("b-tabs_*.styl")
	@import "b-tabs_*.styl"

b-tabs($p)
	$p = assign({}, $p)

	+cache()
		extends($bNavList)

		&__content
			padding 1em 0.6em

		&__el + &__el
			margin-left 0.2em

		&__link
			padding 0.3em 0.7em

			background-color #333
			border-radius 0.2em

			color #CCC
			font-size 0.9em

			text-decoration none
			text-shadow 1px 1px #222

			&:hover
				background-color lighten(@background-color, 10%)

			&_active_true
				background-color #F0A31B
				color #1E1E1E
				text-shadow none

				&:hover
					background-color @background-color
