/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_dark
)

b-button_theme_dark($p)
	$p = assign({
		theme: _theme_dark,
		color: #252525,
		gradColor1: #878787,
		gradColor2: #989898,
		gradColor3: #565656
	}, $p)

	$theme = $p.theme
	$color = $p.color

	$gradColor1 = $p.gradColor1
	$gradColor2 = $p.gradColor2
	$gradColor3 = $p.gradColor3

	&{$theme} &__button
		background linear-gradient($gradColor1, $gradColor2 10%, $gradColor3)
		color $color
		text-shadow 1px 1px rgba(invert($color), 0.3)

		&:hover
			background linear-gradient(lighten($gradColor1, 15%), lighten($gradColor2, 15%) 10%, lighten($gradColor3, 15%))

		&:active
			background linear-gradient($gradColor3, $gradColor2 10%, $gradColor1)

	&{$theme}&_disabled_true &__button
		color lighten($color, 20%)

	&{$theme}&_inverted-border_true &__button
		border-color rgba(lighten($color, 20%), 0.6)
