/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_pseudo-pseudo-link
)

b-button_theme_pseudo-pseudo-link($p)
	$p = assign({
		theme: _theme_pseudo-link
	}, $p)

	$theme = $p.theme
	b-button_theme_link($p)

	&{$theme} &__value
		border-bottom-style dotted
