/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"

$bButton = ()
declare($bButton, b-button)

if file-exists("b-button_*.styl")
	@import "b-button_*.styl"

b-button()
	+cache($params = {})
		extends($iData, $params)

		display inline-block
		cursor pointer

		border-style solid
		border-color #FFF

		color #111
		text-shadow 1px 1px rgba(#FFF, 0.3)
		font-family myriad-pro-1, myriad-pro-2, Helvetica, Arial, sans-serif

		$gradColor1 = $params.gradColor1 || #E6B200
		$gradColor2 = $params.gradColor2 || #B27B00

		&__root-wrapper
			border inherit

		&__button
			background linear-gradient($gradColor1, $gradColor2)

			display inherit
			padding 0.25em 1.3em

			color currentColor
			text-shadow inherit
			font-size inherit
			font-family inherit
			cursor inherit

			border-width 0.15em
			border-style inherit
			border-color inherit
			border-radius 0.3em

			&:focus
				outline 0

		&_disabled_false &__button:hover
			background linear-gradient(lighten($gradColor1, 15%), lighten($gradColor2, 15%))

		&__wrapper
			display flex

		&__cell
			align-self center

		&__value
			margin-right 0.2em

		&_disabled_true &__root-wrapper
			color #555
			opacity 0.7

		&_disabled_true &__button
			background linear-gradient(#999, #777)
			color inherit
			cursor inherit

		&_inverse-border_true
			border-color rgba(#333, 0.6)

		&_disabled_false &__button:active
			transform translate(1px, 1px)
			background linear-gradient($gradColor2, $gradColor1 10%)

		&__progress-bar
			position absolute
			transform scale(0.8) translateX(0.2em)

		&__progress
			visibility hidden
			opacity 0.8

		&_disabled_true &__progress
			color #000
			opacity 0.5

		&_progress_true &__progress
			visibility visible
			text-decoration none
