/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_dark-link
)

b-button_theme_dark-link($params = {})
	$color = $params.baseColor || #848484

	+cache()
		&_theme_dark-link &__button
			padding 0.25em 0.2em
			border 0
			background none
			color $color
			text-shadow none

		&_theme_dark-link&_disabled_false&_progress_false &__button:hover
			background none
			color lighten($color, 20%)

		&_theme_dark-link&_disabled_false&_progress_false &__button:active
			background none

		&_theme_dark-link&_disabled_true &__root-wrapper
			opacity 0.5

		&_theme_dark-link&_disabled_true &__button
			background none

		&_theme_dark-link &__value
			border-bottom 1px solid $color

		&_theme_dark-link&_disabled_false&_progress_false &__button:hover &__value
			border-bottom-color lighten($color, 20%)

		&_theme_dark-link&_disabled_true &__value
			border-bottom-color darken($color, 40%)
