/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_dark-form
)

b-button_theme_dark-form($params = {})
	$theme = _theme_dark-form
	$color = $params.baseColor || #000
	$gradColor1 = $params.baseGradColor1 || #ACACAC
	$gradColor2 = $params.baseGradColor2 || #888

	+cache()
		&{$theme} &__button
			padding 0.25em 2em
			border-width 1px
			border-color lighten($color, 50%)
			background linear-gradient($gradColor1, $gradColor2)
			color $color
			text-shadow none

		&{$theme}&_disabled_false&_progress_false &__button:hover
			background linear-gradient(lighten($gradColor1, 15%), lighten($gradColor2, 15%))

		&{$theme}&_disabled_false&_progress_false &__button:active
			background linear-gradient($gradColor2, $gradColor1)

		&{$theme} &__wrapper
			transform scale(0.8)

		&{$theme}&_inverse-border_true &__button
			border-color invert($color)
