/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_dark-pseudo-link
)

b-button_theme_dark-pseudo-link($p)
	$p = assign({
		theme: _theme_dark-pseudo-link
	}, $p)

	$theme = $p.theme
	b-button_theme_dark-link($p)

	&{$theme} &__value
		border-bottom-style dotted
