/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-progress-icon/b-progress-icon.interface.styl"

declare(
	$bButton,
	b-button_theme_link
)

b-button_theme_link($p)
	$p = assign({
		theme: _theme_link,
		color: #CB9300
	}, $p)

	$theme = $p.theme
	$color = $p.color

	b-button_theme_dark-link($p)

	&{$theme} .b-progress-icon
		b-progress-icon({color: $color})
