/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_light-form
)

b-button_theme_light-form($params = {})
	$color = $params.baseColor || #000
	$gradColor1 = $params.baseGradColor1 || #E6B200
	$gradColor2 = $params.baseGradColor2 || #B27B00

	+cache()
		&_theme_light-form &__button
			padding 0.25em 2em
			border-width 1px
			border-color lighten($color, 50%)
			background linear-gradient($gradColor1, $gradColor2)
			color $color
			text-shadow none

		&_theme_light-form&_disabled_false &__button:hover
			background linear-gradient(lighten($gradColor1, 15%), lighten($gradColor2, 15%))

		&_theme_light-form&_disabled_false &__button:active
			background linear-gradient($gradColor2, $gradColor1)

		&_theme_light-form &__wrapper
			transform scale(0.8)

		&_theme_light-form&_inverse-border_true &__button
			border-color invert($color)
