/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_dark
)

b-button_theme_dark($params = {})
	$color = $params.baseColor || #252525
	$gradColor1 = $params.baseGradColor1 || #878787
	$gradColor2 = $params.baseGradColor2 || #989898
	$gradColor3 = $params.baseGradColor3 || #565656

	+cache()
		&_theme_dark &__button
			background linear-gradient($gradColor1, $gradColor2 10%, $gradColor3)
			color $color
			text-shadow 1px 1px rgba(invert($color), 0.3)

		&_theme_dark&_disabled_false&_progress_false &__button:hover
			background linear-gradient(lighten($gradColor1, 15%), lighten($gradColor2, 15%) 10%, lighten($gradColor3, 15%))

		&_theme_dark&_disabled_false&_progress_false &__button:active
			background linear-gradient($gradColor3, $gradColor2 10%, $gradColor1)

		&_theme_dark&_disabled_true &__button
			color lighten($color, 20%)

		&_theme_dark&_inverse-border_true &__button
			border-color rgba(lighten($color, 20%), 0.6)
