/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

declare(
	$bButton,
	b-button_theme_pseudo-pseudo-link
)

b-button_theme_pseudo-pseudo-link($params = {})
	$p = assign({
		theme: _theme_pseudo-link
	}, $p)

	$theme = $p.theme
	b-button_theme_link($p)

	&{$theme} &__value
		border-bottom-style dotted
