/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"

$bNavList = ()
declare($bNavList, b-nav-list)

if file-exists("b-nav-list_*.styl")
	@import "b-nav-list_*.styl"

b-nav-list($p)
	$p = assign({}, $p)

	+cache()
		extends($iData)

		&__link
			display inline-flex

		&__link + &__link
			margin-right 0.5em

		&__link_progress_true &__link-progress
			display block

		&__cell
			align-self center

		&__cell + &__cell
			margin-right 0.3em

		&__link-progress
			display none
