/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-block/i-block.interface.styl"

$bProgressIcon = ()
declare($bProgressIcon, b-progress-icon)

if file-exists("b-progress-icon_*.styl")
	@import "b-progress-icon_*.styl"

b-progress-icon($params = {})
	$size = $params.size || 0.8em
	$color = $params.color || #FFF

	+cache($params)
		extends($iBlock, $params)

		&__loader
			width $size
			height $size

			border ($size / 4) solid rgba($color, 0.2)
			border-left-color $color
			border-radius 50%

			transform translateZ(0)
			animation loader 1.1s infinite linear

		@keyframes loader
			from
				transform rotate(0)

			to
				transform rotate(360deg)

