/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"

$bRouter = ()
declare($bRouter, b-router)

if file-exists("b-router_*.styl")
	@import "b-router_*.styl"

b-router($p)
	$p = assign({}, $p)
	extends($iData)
