/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-block/i-block.interface.styl"

$bIcon = ()
declare($bIcon, b-icon)

if file-exists("b-icon_*.styl")
	@import "b-icon_*.styl"

b-icon($p)
	$p = assign({}, $p)

	+cache()
		extends($iBlock)
		font-family FontAwesome
