/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../p-profile/p-profile.interface.styl"

$pProfileOptions = ()
declare($pProfileOptions, p-profile-options)

if file-exists("p-profile-options_*.styl")
	@import "p-profile-options_*.styl"

p-profile-options($p)
	$p = assign({}, $p)

	+cache()
		extends($pProfile)

		.b-options-table
			td
				padding 0 0.6em 0.3em 0

				> .b-input,
				> .b-select,
				> .b-textarea
					display block

			&__th,
			&__label
				font-size 0.85em

			&__th
				padding 0.2em 0 0.4em 0

			&__desc
				color #666
				font-size 0.8em
				line-height 1.2em

			&__control
				display block
				cursor pointer

				&:hover
					color #F0A31B

				&:active
					transform translate(1px, 1px)

