/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"
@import "../b-progress-icon/b-progress-icon.interface.styl"

$bLink = ()
declare($bLink, b-link)

if file-exists("b-link_*.styl")
	@import "b-link_*.styl"

b-link($p)
	$p = assign({
		color: #FFAA00
	}, $p)

	$color = $p.color

	+cache()
		extends($iData)
		display inline-block

		&__wrapper
			display flex
			align-items center
			color $color

		&__cell + &__cell
			margin-left 0.3em

		&__pre-icon,
		&__icon
			min-width 1em

		&__link,
		&__pseudo-link
			color currentColor
			margin-right 0.2em
			padding-bottom 1px
			border-bottom 1px currentColor solid
			text-decoration none

		&__link
			cursor pointer

			&:focus
				outline 0

			&:hover
				color lighten($color, 30%)

			&:active
				transform translate(1px, 1px)

		&_disabled_true &__root-wrapper,
		&_progress_true &__root-wrapper
			opacity 0.5

		.b-progress-icon
			b-progress-icon({color: $color})
