/*!
 * TravelChat Client
 * https://github.com/kobezzza/TravelChat
 *
 * Released under the FSFUL license
 * https://github.com/kobezzza/TravelChat/blob/master/LICENSE
 */

declare(
	$bLink,
	b-link_theme_dark-form
)

b-link_theme_dark-form($p)
	$p = assign({
		theme: _theme_dark-form,
		color: #00647B
	}, $p)

	b-link_theme_dark($p)
