/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../i-data/i-data.interface.styl"

$bAvatar = ()
declare($bAvatar, b-avatar)

if file-exists("b-avatar_*.styl")
	@import "b-avatar_*.styl"

b-avatar($p)
	$p = assign({}, $p)

	+cache()
		extends($iData)

		&__root-wrapper
			padding 0.5em 0.2em
			background #111
			text-align center

		&__avatar
			width 100%

			&_empty_true
				opacity 0.7

		&__controls
			display none
			absolute bottom 0 left 0
			z-index 1

			$padding = 0.6em
			padding 0.2em $padding
			width "calc(100% - %s)" % ($padding * 2)
			background rgba(#111, 0.9)

		&__data-wrapper:hover &__controls
			display flex
			flex-direction column
			align-items center
			animation fadeInUp 0.05s

		&__control
			display block
			padding 0.12em 0

		&_progress_true &__progress
			display flex
			justify-content center
			align-items center
			z-index 2

		&__progress
			absolute top 0 left 0
			width 100%
			height 100%

			.b-progress-icon
				font-size 5em
