/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

@import "../b-window/b-window.interface.styl"

$bAvatarUploader = ()
declare($bAvatarUploader, b-avatar-uploader)

if file-exists("b-avatar-uploader_*.styl")
	@import "b-avatar-uploader_*.styl"

b-avatar-uploader($p)
	$p = assign({}, $p)

	+cache()
		extends($bWindow)

		&__window
			min-width 45em

		&__content
			text-align center

		&__desc
			padding 0.5em 1em
			font-size 0.9em

		&__action
			margin 0.7em 0
			text-align center

		&__editor,
		&__upload
			display inline-block
			margin 1em 0.6em 0.6em 0.6em
			max-width 600px
			background #222
			vertical-align top

		&__editor
			margin-right 0.4em

		&__upload
			margin 2em 0 1.2em 0

		&__thumbs
			display inline-block
			margin 1em 0.6em 0.6em 0
			vertical-align top

		&__thumb
			display inline-block
			vertical-align top

			position relative
			overflow hidden
			margin-right 0.6em

			$bColor = #444
			border 1px solid $bColor
			background $bColor

			> img
				transform translateZ(0)
				absolute top 0 left 0
