/*!
 * IamGamer.pro Client
 * https://github.com/IamGamerPro/client
 *
 * Released under the FSFUL license
 * https://github.com/IamGamerPro/client/blob/master/LICENSE
 */

extends($obj)
	for $el in $obj
		{$el} ()

i-base()
	+cache($params = {})
		font-family "Helvetica Neue", Helvetica, Arial, sans-serif
